// Responsive Grid
@media ($larger-than-mobile) { .container { max-width: 95%; } }
@media ($larger-than-desktophd) { .container { max-width: 1170px; } }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  &:before {
    display: table;
    content: " ";
  }

  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.container-fluid {
  width: 100%;

  .row {
    margin: 0;
  }
}

.row {

  &:before {
    display: table;
    content: " ";
  }

  &:after {
    display: table;
    content: " ";
    clear: both;
  }

  @media ($larger-than-tablet) {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.auto,
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
  display: block;
  width: 100%;
  margin-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media ($larger-than-tablet) {
    display: inline-block;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }

  img { max-width: 100%; }
}

@media ($larger-than-tablet) {

  .auto       { width: auto; }
  .one        { width: 8.333333333333332%; }
  .two        { width: 16.666666666666664%; }
  .three      { width: 25%; }
  .four       { width: 33.33333333333333%; }
  .five       { width: 41.66666666666667%; }
  .six        { width: 50%; }
  .seven      { width: 58.333333333333336%; }
  .eight      { width: 66.66666666666666%; }
  .nine       { width: 75%; }
  .ten        { width: 83.33333333333334%; }
  .eleven     { width: 91.66666666666666%; }
  .twelve     { width: 100%; }

  .offset-one       { margin-left: 8.333333333333332%; }
  .offset-two       { margin-left: 16.666666666666664%; }
  .offset-three     { margin-left: 25%; }
  .offset-four      { margin-left: 33.33333333333333%; }
  .offset-five      { margin-left: 41.66666666666667%; }
  .offset-six       { margin-left: 50%; }
  .offset-seven     { margin-left: 58.333333333333336%; }
  .offset-eight     { margin-left: 66.66666666666666%; }
  .offset-nine      { margin-left: 75%; }
  .offset-ten       { margin-left: 83.33333333333334%; }
  .offset-eleven    { margin-left: 91.66666666666666%; }

}
