// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––

input,
textarea,
select,
fieldset {
  margin-bottom: 1rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol
{
  margin-bottom: 1.5rem;
}
