// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  color: $gray-900;
  font-family: $secondary-font-family;
  font-weight: normal;
  letter-spacing: -0.2px;
  margin-bottom: 2rem;
  margin-top: 0;

  &.stacked {
    margin-bottom: 10px;
  }
}

h1 { font-size: rem-calc(36px); line-height: rem-calc(52px); }
h2 { font-size: rem-calc(21px); line-height: rem-calc(30px); }
h3 { font-size: rem-calc(18px); line-height: rem-calc(26px); }
h4 { font-size: rem-calc(16px); line-height: rem-calc(23px); }
h5 { font-size: rem-calc(14px); line-height: rem-calc(20px); }
h6 { font-size: rem-calc(14px); line-height: rem-calc(20px); }

// Larger than phablet
@media (#{$larger-than-phablet}) {
  h1 { font-size: rem-calc(36px); line-height: rem-calc(52px); }
  h2 { font-size: rem-calc(21px); line-height: rem-calc(30px); }
  h3 { font-size: rem-calc(18px); line-height: rem-calc(26px); }
  h4 { font-size: rem-calc(16px); line-height: rem-calc(23px); }
  h5 { font-size: rem-calc(14px); line-height: rem-calc(20px); }
  h6 { font-size: rem-calc(14px); line-height: rem-calc(20px); }
}

a {
  color: $brand-primary;
  text-decoration: none;

  &:visited {
    color: $brand-primary;
  }
}

p {
  margin-top: 0;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: $danger !important;
}
