body {

}

.site-header {
	background-color: $brand-primary;
	color: white;
	padding: 80px 30px 110px 30px;

	img {
		margin-bottom: 15px;
		max-width: 130px;
	}

	h1 {
		color: white;
		font-size: rem-calc(36px);
		line-height: rem-calc(42px);
		margin-bottom: 15px;

		@media (#{$larger-than-desktop}) {
			font-size: rem-calc(48px);
			line-height: rem-calc(52px);
		}
	}

	.last-updated {
		font-size: rem-calc(16px);
		font-style: italic;
	}
}

.confirmation {
	background-color: rgba($success, 0.1);
	border: 2px solid $success;
	color: $success;
	margin-bottom: 30px;
	padding: 15px 20px;
	text-align: center;
}

.content-section {
	h2 {
		font-weight: 700;
		margin-bottom: 20px;
	}
}

.delivery-point {
	h3 {
		color: $brand-primary;
		font-weight: 700;
		margin-bottom: 5px;
	}
}

.signers {

	margin-bottom: 40px;
	width: 100%;

	ul.avatars {
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		margin: 10px 0;
		padding: 0;
		width: 100%;

		@media (#{$larger-than-tablet}) {
			flex-wrap: wrap;
		}

		.avatar {
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 2px;
			margin: 0 10px 10px 0;
			position: relative;
			height: 25px;
			width: 25px;

			&:hover:after{
				padding: 5px 10px;
				background: #1a1a1a;
				border-radius: 2px;
				content: attr(data-tooltip);
				color: $gray-100;
				font-size: 10px;
				position: absolute;
				left: -0px;
				top: -40px;
				text-align: center;
				white-space: nowrap;
				min-width: 150px;
			}
		}
	}
}

.links {
	display: flex;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 5px;
		}
	}
}

