.totop {
}
.totop a {
  display: none;
}

.list_avatar {
  border-radius: 2px;
  margin: 0 10px 10px 0;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.list_ago {
  color: $gray-800;
  font-size: 11px;
}