ul#signatures {
	float: left;
	display: block;
	width: 100%;
	list-style: none;
	margin: 15px 0;
	padding: 0;

	li {
		border-bottom: 1px solid $gray-200;
		float: left;
		display: block;
		margin-bottom: 15px;
		padding: 0 10px 10px 45px;
		position: relative;
		width: 100%;

		.list-avatar {
			border-radius: 2px;
			height: 25px;
			position: absolute;
			top: 0px;
			left: 10px;
			width: 25px;

			@media (#{$larger-than-tablet}) {

			}
		}

		.signer-name {
			display: inline-block;
			float: left;
			font-size: rem-calc(16px);
			line-height: rem-calc(25px);
			width: 100%;

			@media (#{$larger-than-tablet}) {
				width: auto;
			}
		}

		.list-ago {
			color: $gray-600;
			display: block;
			float: left;
			font-size: rem-calc(11px);
			line-height: 1;

			@media (#{$larger-than-tablet}) {
				display: inline-block;
				float: right;
				line-height: rem-calc(25px);
			}
		}
	}
}

.totop {
}

.totop a {
	display: none;
}