<p>{{count}} people already signed (Go back to the <a href="/">Manifesto</a>)</p>

<ul id="signatures">
</ul>

<button class="button primary" id="load_more">Load More</button>

<p class="totop">
    <a href="#top" id="top">&uarr; Back to top</a>
</p>

<script>

    let next = "api/signatures";

    function loadNext() {

        $.getJSON(next, function (data) {
            const items = [];
            $.each(data.signatures, function (key, val) {
                items.push(`<li style="display: none">
    <img src="${val.avatar}" class="list-avatar" /><div class="signer-name">${val.name}</div> <div class="list-ago">signed ${val.ago} via ${val.connection} - v${val.version}</div>
</li>`);
            });
            $("#signatures").append(items);

            if (next === "api/signatures") {
                $("li:hidden").show();
            } else {
                $("li:hidden").slideDown();
            }

            if (data.meta && data.meta.next) {
                next = data.meta.next;
            } else {
                next = undefined;
                $("#load_more").fadeOut();
            }
        });
    }

    $(function () {

        loadNext(next);
        $("#load_more").on('click', function (e) {
            e.preventDefault();
            loadNext();
            $('html,body').animate({
                scrollTop: $(this).offset().top - 25,
            }, 1500);
        });

    });

    $("#top").click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 600);
        return false;
    });

    $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('.totop a').fadeIn();
        } else {
            $('.totop a').fadeOut();
        }
    });

</script>