<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>The Software Defined Delivery Manifesto</title>

	<link rel="icon" href="favicon.ico" type="image/x-icon"/>

	<!-- Open Graph data -->
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="The Software Defined Delivery Manifesto"/>
	<meta property="og:title" content="The Software Defined Delivery Manifesto"/>
	<meta property="og:description"
		  content="We recognize that delivering useful software shapes our world. We recognize that code is the best way to specify precise action. We recognize that code is only useful when we deliver it."/>
	<meta property="og:url" content="https://sdd-manifesto.org"/>
	<meta property="og:image" content="https://sdd-manifesto.org/img/sdd_seal_150x150.jpg"/>
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="@SDDManifesto"/>
	<meta name="twitter:creator" content="@SDDManifesto"/>
	<meta name="twitter:title" content="The Software Defined Delivery Manifesto"/>
	<meta name="twitter:description"
		  content="We recognize that delivering useful software shapes our world. We recognize that code is the best way to specify precise action. We recognize that code is only useful when we deliver it."/>
	<meta name="twitter:image" content="https://sdd-manifesto.org/img/sdd_seal_150x150.jpg"/>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start':
					new Date().getTime(), event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-PCN8GWQ');</script>
	<!-- End Google Tag Manager -->

	<link rel="stylesheet" href="css/main.css"/>
	<link rel="stylesheet" href="https://use.typekit.net/htr8isk.css"/>

	<script src="js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="js/vendor/jquery-3.3.1.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>

</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCN8GWQ"
			height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="site-header">
	<div class="container">
		<div class="ten offset-one text-center">
			<a href="/"><img src="img/sdd_seal.png" alt="Software Defined Delivery Manifesto Seal"></a>
			<h1>The Software Defined Delivery Manifesto</h1>
			{{#if date}}
				<div class="last-updated">Last Updated: {{date}} - v{{version}}</div>
			{{/if}}
		</div>
	</div>
</header>

<section class="content-section">
	<div class="container">
		<div class="row">
			<div class="eight offset-two">
				{{{body}}}
			</div>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="eight offset-two">
				<div class="row">
					<div class="five">
						<img src="img/twitter.png" width="22" alt="@SDDManifesto on Twitter"
							 style="vertical-align: text-bottom;padding-right: 5px"><a
							href="http://twitter.com/SDDManifesto">@SDDManifesto</a>
						&nbsp;|&nbsp; <a href="https://twitter.com/search?q=%23DeliverInCode">#DeliverInCode</a>
					</div>
					<div class="seven footer-links">
						<a href="/cookie-policy.html">Cookie Policy</a>&nbsp;|&nbsp;
						<a href="/privacy-policy.html">Privacy Policy</a>
						{{#if user}}
							{{#unless user.signed}}
                                &nbsp;|&nbsp;<a href="/signout"> Remove Signature</a>
							{{/unless}}
                            &nbsp;|&nbsp;<a href="/logout">Log out</a>
                        {{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
